<div class="panel" id = "login-panel">
	<div class="small-9">
 <h3>Sign in </ h3>
 </div>

<h5  style="color:red;"><%= flash[:notice]  %></h5>

	<%= form_tag sessions_path, :class=>"login-page-form" do %>
	
	<div class="small-9">
	    <%= label_tag :email %><br />
	    <%= text_field_tag :email%>
	</div>

	<div class="small-9 ">
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password %>
	</div>
	
	<div class="small-4">
	    <%= submit_tag "Log in",:class=>" small button"%>
	</div>
	
       <% end %>
 
</div>

